{
  "plugins": [
    "prettier-plugin-autocorrect",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "<TYPES>^(node:)",
    "<TYPES>",
    "<TYPES>^[.]",
    "<BUILTIN_MODULES>",
    "^react$",
    "^next$",
    "^next(/.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@(.*)(/.*)$",
    "^(@components|@data|@hooks|@styles|@utils)(/.*)$",
    "^@(/.*)$",
    "^[.]",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ]
}
