.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  p {
    line-height: 1.75em;
  }
  code {
    font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono";
  }
}

/**
* 实际占据页面宽度 = space-limit * content
* (富文本内容泛用型方案)
* width <= 768px 时 100%
* width <= 992px 时 70%
* width <= 1200px 时 60%
* width > 1200px 时 50%
*/
.space-limit {
  width: 70%;

  @media screen and (width <= 768px) {
    width: 100%;
  }
}

.content {
  width: 71.43%;

  @media screen and (992px < width <= 1200px) {
    width: 85.71%;
  }

  @media screen and (width <= 992px) {
    width: 100%;
  }
}

.anarchy {
  width: 0;
  height: 0;
  border-top: 200px solid #000000;
  border-left: 300px solid #e00101;
}

.sensitive {
  span {
    background-color: #252525;
    color: #252525;
    transition: color 0.13s linear;
    &:active,
    &:hover {
      color: white;
    }
  }
}

.quote,
.flag,
.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-bottom: 0;
  }
  .profile-photo {
    width: 12em;
    height: 12em;
    border-radius: 50%;
  }
  .profile-name {
    font-size: large;
  }
  .quote-source {
    margin-left: 8em;
  }
}

.end {
  width: 100%;
  text-align: center;
}
