.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  p {
    line-height: 1.75em;
  }
}

.space-limit {
  width: 70%;

  @media screen and (width <= 768px) {
    width: 100%;
  }
}

.content {
  width: 71.43%;

  @media screen and (992px < width <= 1200px) {
    width: 85.71%;
  }

  @media screen and (width <= 992px) {
    width: 100%;
  }
}

.anarchy {
  width: 0;
  height: 0;
  border-top: 200px solid #000000;
  border-left: 300px solid #e00101;
}

.sensitive {
  span {
    background-color: #252525;
    color: #252525;
    transition: color 0.13s linear;
    &:active,
    &:hover {
      color: white;
    }
  }
}

.quote {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-bottom: 0;
  }
  .quote-source {
    margin-left: 8em;
  }
}

.end {
  width: 100%;
  text-align: center;
}
