.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.space-limit {
  width: 70%;
}

.content {
  width: 71.43%;
}

.post-items {
  padding: 0;
}

.post-item {
  width: 100%;
  display: flex;
  a {
    flex-grow: 1;
  }
  span {
    color: #555b61;
    margin: 0 0.25em;
  }
}

.end {
  width: 100%;
  text-align: center;
}
