@import "prism-themes/prism-one-dark.css";

/* 个性化滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }
}

/* 全局使用 border-box */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* 设置滚动条类型 */
  overflow-y: overlay;
  /* 全局修改 a link 标签样式 */
  a {
    text-decoration: none;
    &:link {
      color: black;
    }
    &:visited {
      color: black;
    }
    &:hover {
      color: #555b61;
    }
    &:active {
      color: #888d92;
    }
  }
}

/* 针对文章页面渲染内容的样式修改 */
.post {
  width: 50%;
  word-break: break-word;
  @media screen and (width <= 768px) {
    width: 100%;
  }
  p {
    line-height: 1.75em;
  }
  a {
    &:link {
      color: #2e3238;
    }
    &:visited {
      color: #2e3238;
    }
    &:hover {
      text-decoration: underline;
      color: #555b61;
    }
    &:active {
      color: #888d92;
    }
  }
  .toc,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      &:link {
        color: black;
      }
      &:visited {
        color: black;
      }
      &:hover {
        text-decoration: none;
        color: #555b61;
      }
      &:active {
        color: #888d92;
      }
    }
  }
}

/* 顶栏 */
.header-wrapper {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(16px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 32px;

  .header-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 16px;

    a {
      width: 100%;
      line-height: 1.75em;
      padding: 4px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .header {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: medium;
    }

    .header-link-group {
      margin: 0 -6px;
      a {
        margin: 6px;
      }
    }

    .header-expand-icon {
      padding: 0;
      vertical-align: middle;
      white-space: nowrap;
      cursor: pointer;
      background: transparent;
      border: none;
      color: black;
    }

    @media screen and (width <= 576px) {
      .header-link-group {
        display: none;
      }
    }

    @media screen and (width > 576px) {
      .header-expand-icon {
        display: none;
      }
    }
  }
}

/* 页面主容器 */
.container {
  min-height: calc(
    100vh - 64px - 1px - 96.67px - 16px - 32px
  ); // 100vh - 顶栏height - 顶栏底部边框border - 底栏height - 底栏第一行往上margin - 页脚下边距margin
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 65px;

  @media screen and (width <= 992px) {
    min-height: calc(100vh - 64px - 1px - 120px - 16px - 32px);
  }
}

/* 页脚 */
.footer {
  margin: 0 32px 32px 32px;
}

body:has(.container > .post) {
  .footer {
    @media screen and (768px < width) {
      max-width: calc(50% - 32px);
    }
  }
}

/* 引用内容块样式 */
blockquote {
  padding: 0 1em;
  color: #656d76;
  border-left: 0.25em solid #d0d7de;
  margin: 0;
  margin-bottom: 16px;
}

/* 修复在 PrismJS 支持列表之外 code block 的 pre 样式支持（源自 themes 中样式文件未修改的原始代码） */
pre {
  background: hsl(220, 13%, 18%);
  color: hsl(220, 14%, 71%);
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono",
    monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

pre *::-moz-selection {
  background: hsl(220, 13%, 28%);
  color: inherit;
  text-shadow: none;
}

pre *::selection {
  background: hsl(220, 13%, 28%);
  color: inherit;
  text-shadow: none;
}

pre {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    margin: 2px;
    border-radius: 0.3em;
    background: rgba(255, 255, 255, 0.3);
    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }
}

/* 行数显示 */
.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  color: hsl(220, 14%, 71%); /* Line number color */
  content: attr(line);
}

/* 复制按钮绝对定位 */
.code-block-wrapper {
  position: relative;
}

/* 复制按钮按下前样式 */
.copy-to-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  background: hsl(220, 13%, 24%);
  font-size: 14px;
  border: 1.5px solid;
  border-radius: 6px;
  border-color: hsl(220, 14%, 71%);
  vertical-align: middle;
  padding: 0;
  white-space: nowrap;
  cursor: pointer;
  svg {
    fill: hsl(220, 14%, 71%);
    margin: 8px;
    vertical-align: text-bottom;
  }
}

/* 复制按钮按下后 */
.copy-button-clicked {
  border-color: #3fb950;
  svg {
    fill: #3fb950;
  }
}

/* hover code block 时显示按钮 */
.code-block-wrapper > .copy-to-clipboard {
  display: none;
  animation: fade-in 200ms both;
}

.code-block-wrapper:hover > .copy-to-clipboard {
  display: block;
}

/* 网页中的图片 */
.image-wrapper {
  cursor: zoom-in;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 100%;
}

/* 图片遮罩（模态框） */
.image-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(16px);
  background-color: rgba(0, 0, 0, 0.3);
  padding: calc(32px + 24px);
  box-sizing: border-box;
  animation: fade-in 0.2s both;
}

/* 放大后图片遮罩的关闭按钮 */
.image-modal-close {
  position: absolute;
  padding: 16px;
  top: 0;
  right: 0;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  background: transparent;
  border: none;
  color: black;
}

/* 放大后的图片 */
.image-zoom {
  max-width: 100%;
  max-height: 100%;
}

/* 图片遮罩情况下禁用背景网页滚动 */
body:has(section > img) {
  overflow: hidden;
}

/* 表格样式（ Typora GitHub 主题） */
table {
  padding: 0;
  word-break: initial;
}

table tr {
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n),
thead {
  background-color: #f8f8f8;
}

table th {
  font-weight: bold;
  border-bottom: 0;
  margin: 0;
  padding: 6px 13px;
}

table td {
  margin: 0;
  padding: 6px 13px;
}

table th:first-child,
table td:first-child {
  margin-top: 0;
}

table th:last-child,
table td:last-child {
  margin-bottom: 0;
}

table {
  max-width: 100%;
  border-spacing: 0px;
  overflow: scroll;
}

/* 左上角元素上方与左侧画线 */
table th:first-child {
  border-top: 1px solid #dfe2e5;
  border-left: 1px solid #dfe2e5;
}

/* 第一排元素上方画线 */
table th {
  border-top: 1px solid #dfe2e5;
}

/* 第一列元素左侧画线 */
table td:first-child {
  border-left: 1px solid #dfe2e5;
}

table th,
td {
  border-right: 1px solid #dfe2e5;
  border-bottom: 1px solid #dfe2e5;
}

.table {
  margin: 0.8em 0;
  overflow-x: overlay;
}

/* 强制覆盖代码块的 overflow */
.pre[class*="language-"] {
  overflow: overlay;
}

/* 文章各级标题 hover 样式*/
.post {
  h1 {
    a {
      &:link {
        color: black;
      }
      &:visited {
        color: black;
      }
      &:hover {
        color: black;
      }
      &:active {
        color: black;
      }
    }
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:has(a:hover)::after {
      content: " #";
      text-decoration: none;
      color: #9e9e9ea6;
      text-decoration: none;
    }
    a {
      &:link {
        color: black;
      }
      &:visited {
        color: black;
      }
      &:hover {
        text-decoration: underline;
        color: black;
        &::after {
          visibility: visible;
        }
      }
      &:active {
        color: black;
      }
    }
  }
}

hr {
  width: 100%;
  border-image: linear-gradient(90deg, black, transparent) 1;
  border-style: solid;
  border-width: 1px 0 0 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.post .toc {
  height: calc(100vh - 64px - 1px - 32px + 16px - 32px - 32px);
  position: fixed;
  top: calc(64px + 1px + 32px - 16px + 32px);
  left: calc(50% + 32px);
  display: flex;
  flex-direction: column;
  margin-right: calc(32px + 24px + 16px + 12px);

  @media screen and (width <= 768px) {
    display: none;
  }

  .table-of-contents-header {
    margin-bottom: 0;
  }

  .table-of-contents {
    padding-right: 32px;
    overflow-y: overlay;
  }
}

.scroll-to-top {
  position: fixed;
  right: 32px;
  bottom: 32px;
  animation: fade-in 200ms both;
  padding: 12px;
  backdrop-filter: blur(16px);
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  color: black;
  border-radius: 6px;
}

ul > li {
  line-height: 1.75em;
}

.end {
  width: 100%;
  text-align: center;
}
