@import "themes/prism-one-dark.css";

body {
  margin: 0;
  a {
    text-decoration: none;
    &:link {
      color: black;
    }
    &:visited {
      color: black;
    }
    &:hover {
      color: #384549;
    }
    &:active {
      color: #798183;
    }
  }
}

.topbar {
  position: sticky;
  top: 0;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(16px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  a {
    font-size: medium;
  }
  .topbar-link-group {
    a {
      margin: 6px;
    }
  }
}

.container {
  min-height: calc(
    100vh - 64px - 96.67px - 16px - 32px - 1px
  ); //100vh - 顶栏height - 底栏height - 底栏第一行往上margin - 页脚下边距margin - 顶栏底部边框border
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 32px;
}

.footer {
  margin: 0 32px 32px 32px;
}

.post {
  a {
    &:link {
      color: #3c484c;
    }
    &:visited {
      color: #475154;
    }
    &:hover {
      color: #6b7273;
    }
    &:active {
      color: #8a8d90;
    }
  }
}

/* 修复在 PrismJS 支持列表之外 code block 的 pre 样式支持 */
pre {
  background: hsl(220, 13%, 18%);
  color: hsl(220, 14%, 71%);
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono",
    monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

pre *::-moz-selection {
  background: hsl(220, 13%, 28%);
  color: inherit;
  text-shadow: none;
}

pre *::selection {
  background: hsl(220, 13%, 28%);
  color: inherit;
  text-shadow: none;
}

/* 行数显示 */
.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  color: hsl(220, 14%, 71%); /* Line number color */
  content: attr(line);
}

/* 复制按钮绝对定位 */
pre {
  position: relative;
}

/* 复制按钮按下前样式 */
.copy-to-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  background: hsl(220, 13%, 24%);
  font-size: 14px;
  border: 1.5px solid;
  border-radius: 6px;
  border-color: hsl(220, 14%, 71%);
  vertical-align: middle;
  padding: 0;
  white-space: nowrap;
  cursor: pointer;
  svg {
    fill: hsl(220, 14%, 71%);
    margin: 8px;
    vertical-align: text-bottom;
  }
}

/* 复制按钮按下后 */
.copy-button-clicked {
  border-color: #3fb950;
  svg {
    fill: #3fb950;
  }
}

/* hover code block 时显示按钮 */
pre > .copy-to-clipboard {
  display: none;
  animation: fade-out 200ms both;
}

pre:hover > .copy-to-clipboard {
  display: block;
}

@keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
