@use "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-sans), var(--font-noto-sans-sc), sans-serif;
  --font-serif: var(--font-noto-serif), var(--font-noto-serif-sc), serif;
  --font-allison: var(--font-allison), cursive;
  --font-liu-jian-mao-cao: var(--font-liu-jian-mao-cao), cursive;
  --font-comforter: var(--font-comforter), cursive;
  --font-ms-madi: var(--font-ms-madi), cursive;
}

body {
  text-autospace: normal;
  font-family: Arial, Helvetica, sans-serif; // fallback
}
